# Add any directories, files, or patterns you don't want to be tracked by version control
Asteroids/.vs

Asteroids/Temp

Asteroids/Library
Asteroids/.idea
Asteroids/Assembly-CSharp.csproj
Asteroids/Assembly-CSharp-Editor.csproj
Asteroids/Asteroids.sln
Asteroids/Asteroids.csproj
Asteroids/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

Asteroids/obj

.vs
/builds
Asteroids/Assets/Plugins/Editor/JetBrains

Asteroids/ProjectSettings/ProjectVersion.txt
Asteroids/Packages/manifest.json
Asteroids/Packages/packages-lock.json
Asteroids/ProjectSettings/PackageManagerSettings.asset
Asteroids/Asteroids.sln.DotSettings.user

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config

# Ignore media & other temp files
*.log
*.log.meta
# Add any directories, files, or patterns you don't want to be tracked by version control
Asteroids/.vs

Asteroids/Temp

Asteroids/Library
Asteroids/.idea
Asteroids/Assembly-CSharp.csproj
Asteroids/Assembly-CSharp-Editor.csproj
Asteroids/Asteroids.sln
Asteroids/Asteroids.csproj
Asteroids/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll

Asteroids/obj

.vs
/builds
Asteroids/Assets/Plugins/Editor/JetBrains

Asteroids/ProjectSettings/ProjectVersion.txt
Asteroids/Packages/manifest.json
Asteroids/Packages/packages-lock.json
Asteroids/ProjectSettings/PackageManagerSettings.asset
Asteroids/Asteroids.sln.DotSettings.user

*.csproj

# Build related
Cake/tools/**
Cake/!tools/packages.config

# Ignore media & other temp files
*.log
*.log.meta
